*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}
.hello{
    display: flex;
    align-items:center;
    justify-content: center;
   
}
p,h2,h1{

    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

h1{
    color: rgb(132, 156, 53);
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

a{
    text-decoration: none;
    color: rgb(161, 46, 46);

}
